flask==3.0.0
flask-cors==4.0.0
pymongo==4.6.1
python-dotenv==1.0.0
moviepy==1.0.3
numpy==1.26.4
pydub==0.25.1
python-magic==0.4.27
werkzeug==3.0.1
gunicorn==21.2.0
pytesseract==0.3.10
opencv-python-headless
Pillow==10.3.0

# --- CPU Optimized AI Libraries ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
tensorflow-cpu
# ----------------------------------

transformers==4.36.2
openai-whisper==20240930
librosa==0.10.1
scipy==1.11.4
SpeechRecognition==3.10.0
noisereduce==3.0.2